# 1. SQL로 문제 해결

In [ ]:
%load_ext sql

In [ ]:
# ID와 PW를 자신의 환경에 맞게 수정

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: guest@dev'

In [ ]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

In [ ]:
%%sql

SELECT COUNT(1)
FROM raw_data.session_timestamp;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

In [ ]:
%%sql

SELECT usc.userid,
       usc.sessionid,
       usc.channel,
       st.ts
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp st ON (usc.sessionId = st.sessionId)
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(1651, '0004289ee1c7b8b08c77e19878106ae3', 'Organic', datetime.datetime(2019, 11, 16, 21, 20, 14, 447000)),
 (1197, '00053f5e11d1fe4e49a221165b39abc9', 'Facebook', datetime.datetime(2019, 6, 24, 13, 4, 26, 370000)),
 (1401, '00056c20eb5a029583db75506953f1d9', 'Facebook', datetime.datetime(2019, 9, 26, 14, 50, 17)),
 (1399, '00063cb5da1826febf178b669eea3250', 'Facebook', datetime.datetime(2019, 10, 16, 14, 4, 42, 797000)),
 (1667, '000958fdaefe0dd06f5d7c4e4a5f28d1', 'Instagram', datetime.datetime(2019, 11, 2, 14, 52, 30, 183000)),
 (468, '000a3f777828d2cdbee98887561aa130', 'Facebook', datetime.datetime(2019, 11, 29, 16, 33, 55)),
 (1563, '000cb7efa8a05429dd5309b4bea2eb0c', 'Naver', datetime.datetime(2019, 7, 23, 13, 39, 28)),
 (711, '00106ac9184e7d54b570d0f0cb0c38b2', 'Organic', datetime.datetime(2019, 7, 25, 18, 14, 43, 37000)),
 (473, '0011df6282fe8cf78feeab676fbc3c27', 'Naver', datetime.datetime(2019, 11, 2, 21, 10, 41)),
 (420, '00126b47d5502dfb7d01f750ad23d813', 'Facebook', datetime.datetime(2019, 6, 15, 15, 35, 48, 483000))]

> user_session_channel, session_timestamp를 바탕으로 월별마다 액티브한 사용자 수(MAU)를 카운트한다.

1. user_session_channel table과 session_timestamp table을 sessionId로 JOIN한다.
2. 월별로 GROUP BY한다.
3. 사용자를 COUNT한다.
  1. 사용자 수는 unique해야하기 때문에 DISTINCT한다.

In [ ]:
%%sql

SELECT TO_CHAR(st.ts, 'YYYY-MM'),
       COUNT(DISTINCT(usc.userid))
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp st ON (usc.sessionId = st.sessionId)
GROUP BY TO_CHAR(st.ts, 'YYYY-MM')
ORDER BY 1 DESC
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 721),
 ('2019-10', 763),
 ('2019-09', 639),
 ('2019-08', 662),
 ('2019-07', 623),
 ('2019-06', 459),
 ('2019-05', 281)]

# 2. pandas로 문제 해결

In [ ]:
# 테이블 가져오기

user_session_channel = %sql SELECT * FROM raw_data.user_session_channel;
session_timestamp = %sql SELECT * FROM raw_data.session_timestamp;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
101520 rows affected.
 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
101520 rows affected.

In [ ]:
# pandas df로 변환

import pandas as pd

df_usc = user_session_channel.DataFrame()
df_st = session_timestamp.DataFrame()

df_usc

        userid                         sessionid    channel
0         1651  0004289ee1c7b8b08c77e19878106ae3    Organic
1         1197  00053f5e11d1fe4e49a221165b39abc9   Facebook
2         1401  00056c20eb5a029583db75506953f1d9   Facebook
3         1399  00063cb5da1826febf178b669eea3250   Facebook
4         1667  000958fdaefe0dd06f5d7c4e4a5f28d1  Instagram
...        ...                               ...        ...
101515     931  fff8db9478d2fd72df65a67ee6b62f67   Facebook
101516     822  fffb8ef15de06d87e6ba6c830f3b6284      Naver
101517    1589  fffcc1a3964b4ad665fa2f07d7bfd086   Facebook
101518     437  fffe9f664c2ddba4a37bcd35936c7422      Naver
101519    2468  ffffda8ada4827900cbf65fd20281080     Google

[101520 rows x 3 columns]

In [ ]:
# session_timestamp TABLE과 user_session_channel TABLE을 JOIN

join_table = pd.merge(left=df_usc, right=df_st, how='inner', on='sessionid')
join_table

        userid  ...                      ts
0         1651  ... 2019-11-16 21:20:14.447
1         1197  ... 2019-06-24 13:04:26.370
2         1401  ... 2019-09-26 14:50:17.000
3         1399  ... 2019-10-16 14:04:42.797
4         1667  ... 2019-11-02 14:52:30.183
...        ...  ...                     ...
101515     931  ... 2019-08-04 21:29:51.890
101516     822  ... 2019-06-02 15:33:27.320
101517    1589  ... 2019-07-07 10:52:18.000
101518     437  ... 2019-07-17 16:04:17.410
101519    2468  ... 2019-11-04 16:37:29.000

[101520 rows x 4 columns]

In [ ]:
# MAU라서 ts 컬럼을 YYYY-MM 형식으로 변환

join_table['date'] = join_table['ts'].apply(lambda x: f'{x.year}-{x.month:02}')
join_table

        userid  ...     date
0         1651  ...  2019-11
1         1197  ...  2019-06
2         1401  ...  2019-09
3         1399  ...  2019-10
4         1667  ...  2019-11
...        ...  ...      ...
101515     931  ...  2019-08
101516     822  ...  2019-06
101517    1589  ...  2019-07
101518     437  ...  2019-07
101519    2468  ...  2019-11

[101520 rows x 5 columns]

In [ ]:
# date에 중복되는 userid를 제거

join_table = join_table.drop_duplicates(['userid', 'date'])

In [ ]:
# MAU count후 날짜로 정렬

join_table.groupby(['date'])['userid'].count().reset_index(name='count').sort_values('date', ascending=False)

      date  count
6  2019-11    721
5  2019-10    763
4  2019-09    639
3  2019-08    662
2  2019-07    623
1  2019-06    459
0  2019-05    281

# 3. 개인적인 궁금증

### A. user 1명당 session 1개일까?
- 그렇지 않다.

In [ ]:
%%sql

SELECT usc.userId,
       COUNT(usc.sessionId)
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp st ON (usc.sessionId = st.sessionId)
GROUP BY usc.userId
ORDER BY 1 ASC
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(27, 159),
 (29, 82),
 (33, 222),
 (34, 99),
 (36, 108),
 (40, 245),
 (41, 90),
 (44, 30),
 (45, 215),
 (59, 160)]

### B. User는 1달에 1번만 active할까?
- 그렇지 않다.
  - 그래서 DISTINCT로 중복제거를 해주는 듯

In [ ]:
%%sql

SELECT usc.userId,
       TO_CHAR(st.ts, 'YYYY-MM'),
       COUNT(usc.sessionId)
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp st ON (usc.sessionId = st.sessionId)
GROUP BY usc.userId, TO_CHAR(st.ts, 'YYYY-MM')
ORDER BY 1 ASC
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(27, '2019-05', 24),
 (27, '2019-06', 21),
 (27, '2019-10', 26),
 (27, '2019-11', 29),
 (27, '2019-09', 34),
 (27, '2019-08', 25),
 (29, '2019-09', 9),
 (29, '2019-10', 11),
 (29, '2019-06', 19),
 (29, '2019-05', 19)]