In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: mildsalmon_su@dev'

# Assignment 1. MySQL DAG와 Summary SQL 실행하기

## A. MySQL_to_Redshift.py

nps Table을 만들고 DAG를 실행하였다.

In [8]:
%%sql

DROP TABLE IF EXISTS mildsalmon_su.nps;
CREATE TABLE mildsalmon_su.nps(
  id INT NOT NULL primary key,
  created_at timestamp,
  score smallint
)
;

 * postgresql://mildsalmon_su:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

MySQL_to_Redshift DAG 실행

In [11]:
%%sql

SELECT *
FROM mildsalmon_su.nps
LIMIT 10
;

 * postgresql://mildsalmon_su:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(1, datetime.datetime(2019, 1, 1, 22, 4, 21), 1),
 (3, datetime.datetime(2019, 1, 3, 19, 31, 41), 10),
 (6, datetime.datetime(2019, 1, 4, 23, 6, 18), 2),
 (8, datetime.datetime(2019, 1, 5, 9, 26, 13), 2),
 (11, datetime.datetime(2019, 1, 6, 14, 40, 11), 1),
 (12, datetime.datetime(2019, 1, 6, 6, 9, 47), 4),
 (13, datetime.datetime(2019, 1, 6, 23, 37, 19), 3),
 (14, datetime.datetime(2019, 1, 6, 2, 33, 32), 2),
 (17, datetime.datetime(2019, 1, 7, 10, 34, 3), 10),
 (20, datetime.datetime(2019, 1, 7, 18, 33, 59), 10)]

## B. MySQL_to_Redshift_v2.py

MySQL_to_Redshift.py는 첫 번째 실행만 정상적으로 동작하고, 2번째부터는 실행되지 않는다.

S3_key가 존재하기 때문에 그렇다.

---

DAG에 catchup이 True로 설정되어서 DAG toggle을 활성화하면 Backfill이 자동으로 실행된다.

Backfill을 실행해도 Incremental Update가 아니기 때문에 변경되는 부분이 없다.

In [16]:
%%sql

SELECT *
FROM mildsalmon_su.nps
ORDER BY 1 ASC
LIMIT 10
;

 * postgresql://mildsalmon_su:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(1, datetime.datetime(2019, 1, 1, 22, 4, 21), 1),
 (2, datetime.datetime(2019, 1, 2, 3, 47, 26), 9),
 (3, datetime.datetime(2019, 1, 3, 19, 31, 41), 10),
 (4, datetime.datetime(2019, 1, 4, 5, 2, 11), 10),
 (5, datetime.datetime(2019, 1, 4, 18, 2, 53), 1),
 (6, datetime.datetime(2019, 1, 4, 23, 6, 18), 2),
 (7, datetime.datetime(2019, 1, 5, 13, 45, 47), 0),
 (8, datetime.datetime(2019, 1, 5, 9, 26, 13), 2),
 (9, datetime.datetime(2019, 1, 5, 22, 36, 38), 6),
 (10, datetime.datetime(2019, 1, 6, 13, 22, 47), 10)]

## C. MySQL_to_Redshift_v3.py

production db에서 변경된 것만 redshift로 올리는 Incremental Update 방식

In [18]:
%%sql

SELECT *
FROM mildsalmon_su.nps
ORDER BY 2 DESC
LIMIT 10
;

 * postgresql://mildsalmon_su:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(157045, datetime.datetime(2019, 12, 30, 23, 59, 39), 10),
 (156117, datetime.datetime(2019, 12, 30, 23, 56, 14), 10),
 (156270, datetime.datetime(2019, 12, 30, 23, 56, 7), 0),
 (156656, datetime.datetime(2019, 12, 30, 23, 56, 4), 10),
 (157004, datetime.datetime(2019, 12, 30, 23, 55, 37), 10),
 (156762, datetime.datetime(2019, 12, 30, 23, 55, 31), 10),
 (156594, datetime.datetime(2019, 12, 30, 23, 54, 30), 9),
 (156308, datetime.datetime(2019, 12, 30, 23, 54, 28), 10),
 (156853, datetime.datetime(2019, 12, 30, 23, 52, 59), 10),
 (157324, datetime.datetime(2019, 12, 30, 23, 52, 37), 10)]

## D. Build Summary DAG

In [19]:
 %%sql

 SELECT *
 FROM mildsalmon_su.channel_summary
 LIMIT 10
 ;

 * postgresql://mildsalmon_su:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(29, 'Naver', 'Naver'),
 (40, 'Youtube', 'Google'),
 (68, 'Youtube', 'Organic'),
 (196, 'Facebook', 'Naver'),
 (210, 'Google', 'Google'),
 (229, 'Google', 'Facebook'),
 (248, 'Naver', 'Instagram'),
 (265, 'Facebook', 'Instagram'),
 (267, 'Instagram', 'Naver'),
 (280, 'Google', 'Organic')]

# Assignment 2. Command Line에서 Backfill 실행하기

In [ ]:
airflow dags backfill MySQL_to_Redshift_v3 -s 2022-03-01 -e 2022-03-14

backfill의 중간 부분부터 복사해왔다.

In [ ]:
[2022-03-15 07:17:59,137] {dagrun.py:477} INFO - Marking run <DagRun MySQL_to_Redshift_v3 @ 2022-03-07 00:00:00+00:00: backfill__2022-03-07T00:00:00+00:00, externally triggered: False> successful
########################################################
### LOG ##### 13개 DAG 중 7개 완료 / tasks 21개 완료 ###
########################################################
[2022-03-15 07:17:59,139] {backfill_job.py:388} INFO - [backfill progress] | finished run 7 of 13 | tasks waiting: 0 | succeeded: 21 | running: 0 | failed: 0 | skipped: 0 | deadlocked: 0 | not ready: 0
#################################################################################################
### LOG ##### max_active_runs 제한에 걸려서 다른 DAG 완료까지 대기 ### 아마 max_active_runs = 1 #
#################################################################################################
[2022-03-15 07:17:59,139] {backfill_job.py:818} INFO - max_active_runs limit for dag MySQL_to_Redshift_v3 has been reached  - waiting for other dag runs to finish
####################################
### TASK ##### s3_folder_cleanup ###
####################################
[2022-03-15 07:18:00,194] {base_executor.py:82} INFO - Adding to queue: ['airflow', 'tasks', 'run', 'MySQL_to_Redshift_v3', 's3_folder_cleanup', '2022-03-08T00:00:00+00:00', '--local', '--pool', 'default_pool', '--subdir', 'DAGS_FOLDER/MySQL_to_Redshift_v3.py', '--cfg-path', '/tmp/tmpvhcmx6hu']
[2022-03-15 07:18:04,137] {local_executor.py:79} INFO - QueuedLocalWorker running ['airflow', 'tasks', 'run', 'MySQL_to_Redshift_v3', 's3_folder_cleanup', '2022-03-08T00:00:00+00:00', '--local', '--pool', 'default_pool', '--subdir', 'DAGS_FOLDER/MySQL_to_Redshift_v3.py', '--cfg-path', '/tmp/tmpvhcmx6hu']
########################################################################################
### LOG ##### DAG ## 13개 중 7개 완료 ### tasks ## 2개 대기 / 21개 완료 / 1개 실행중 ###
########################################################################################
[2022-03-15 07:18:04,145] {backfill_job.py:388} INFO - [backfill progress] | finished run 7 of 13 | tasks waiting: 2 | succeeded: 21 | running: 1 | failed: 0 | skipped: 0 | deadlocked: 0 | not ready: 2
[2022-03-15 07:18:04,172] {dagbag.py:496} INFO - Filling up the DagBag from /var/lib/***/dags/MySQL_to_Redshift_v3.py

Running <TaskInstance: MySQL_to_Redshift_v3.s3_folder_cleanup 2022-03-08T00:00:00+00:00 [queued]> on host ip-172-31-56-119.ap-northeast-2.compute.internal
########################################################################################
### LOG ##### DAG ## 13개 중 7개 완료 ### tasks ## 2개 대기 / 22개 완료 / 0개 실행중 ###
########################################################################################
[2022-03-15 07:18:09,150] {backfill_job.py:388} INFO - [backfill progress] | finished run 7 of 13 | tasks waiting: 2 | succeeded: 22 | running: 0 | failed: 0 | skipped: 0 | deadlocked: 0 | not ready: 2
##################################
### TASK ##### mysql_to_s3_nps ###
##################################
[2022-03-15 07:18:09,162] {base_executor.py:82} INFO - Adding to queue: ['airflow', 'tasks', 'run', 'MySQL_to_Redshift_v3', 'mysql_to_s3_nps', '2022-03-08T00:00:00+00:00', '--local', '--pool', 'default_pool', '--subdir', 'DAGS_FOLDER/MySQL_to_Redshift_v3.py', '--cfg-path', '/tmp/tmprwljc4on']
[2022-03-15 07:18:14,150] {local_executor.py:79} INFO - QueuedLocalWorker running ['airflow', 'tasks', 'run', 'MySQL_to_Redshift_v3', 'mysql_to_s3_nps', '2022-03-08T00:00:00+00:00', '--local', '--pool', 'default_pool', '--subdir', 'DAGS_FOLDER/MySQL_to_Redshift_v3.py', '--cfg-path', '/tmp/tmprwljc4on']
########################################################################################
### LOG ##### DAG ## 13개 중 7개 완료 ### tasks ## 1개 대기 / 22개 완료 / 1개 실행중 ###
########################################################################################
[2022-03-15 07:18:14,157] {backfill_job.py:388} INFO - [backfill progress] | finished run 7 of 13 | tasks waiting: 1 | succeeded: 22 | running: 1 | failed: 0 | skipped: 0 | deadlocked: 0 | not ready: 1
[2022-03-15 07:18:14,180] {dagbag.py:496} INFO - Filling up the DagBag from /var/lib/***/dags/MySQL_to_Redshift_v3.py

Running <TaskInstance: MySQL_to_Redshift_v3.mysql_to_s3_nps 2022-03-08T00:00:00+00:00 [queued]> on host ip-172-31-56-119.ap-northeast-2.compute.internal
########################################################################################
### LOG ##### DAG ## 13개 중 7개 완료 ### tasks ## 1개 대기 / 23개 완료 / 0개 실행중 ###
########################################################################################
[2022-03-15 07:18:19,165] {backfill_job.py:388} INFO - [backfill progress] | finished run 7 of 13 | tasks waiting: 1 | succeeded: 23 | running: 0 | failed: 0 | skipped: 0 | deadlocked: 0 | not ready: 1
#####################################
### TASK ##### s3_to_redshift_nps ###
#####################################
[2022-03-15 07:18:19,176] {base_executor.py:82} INFO - Adding to queue: ['airflow', 'tasks', 'run', 'MySQL_to_Redshift_v3', 's3_to_redshift_nps', '2022-03-08T00:00:00+00:00', '--local', '--pool', 'default_pool', '--subdir', 'DAGS_FOLDER/MySQL_to_Redshift_v3.py', '--cfg-path', '/tmp/tmpe0r_lq9r']
[2022-03-15 07:18:24,163] {local_executor.py:79} INFO - QueuedLocalWorker running ['airflow', 'tasks', 'run', 'MySQL_to_Redshift_v3', 's3_to_redshift_nps', '2022-03-08T00:00:00+00:00', '--local', '--pool', 'default_pool', '--subdir', 'DAGS_FOLDER/MySQL_to_Redshift_v3.py', '--cfg-path', '/tmp/tmpe0r_lq9r']
########################################################################################
### LOG ##### DAG ## 13개 중 7개 완료 ### tasks ## 0개 대기 / 23개 완료 / 1개 실행중 ###
########################################################################################
[2022-03-15 07:18:24,170] {backfill_job.py:388} INFO - [backfill progress] | finished run 7 of 13 | tasks waiting: 0 | succeeded: 23 | running: 1 | failed: 0 | skipped: 0 | deadlocked: 0 | not ready: 0
[2022-03-15 07:18:24,191] {dagbag.py:496} INFO - Filling up the DagBag from /var/lib/***/dags/MySQL_to_Redshift_v3.py

Running <TaskInstance: MySQL_to_Redshift_v3.s3_to_redshift_nps 2022-03-08T00:00:00+00:00 [queued]> on host ip-172-31-56-119.ap-northeast-2.compute.internal
##############################################################
### LOG ##### DAG의 Backfill이 successful & UI Marking run ###
##############################################################
[2022-03-15 07:18:29,176] {dagrun.py:477} INFO - Marking run <DagRun MySQL_to_Redshift_v3 @ 2022-03-08 00:00:00+00:00: backfill__2022-03-08T00:00:00+00:00, externally triggered: False> successful
########################################################################################
### LOG ##### DAG ## 13개 중 8개 완료 ### tasks ## 0개 대기 / 24개 완료 / 0개 실행중 ###
########################################################################################
[2022-03-15 07:18:29,178] {backfill_job.py:388} INFO - [backfill progress] | finished run 8 of 13 | tasks waiting: 0 | succeeded: 24 | running: 0 | failed: 0 | skipped: 0 | deadlocked: 0 | not ready: 0
#################################################################################################
### LOG ##### max_active_runs 제한에 걸려서 다른 DAG 완료까지 대기 ### 아마 max_active_runs = 1 #
#################################################################################################
[2022-03-15 07:18:29,178] {backfill_job.py:818} INFO - max_active_runs limit for dag MySQL_to_Redshift_v3 has been reached  - waiting for other dag runs to finish
####################################
### TASK ##### s3_folder_cleanup ###
####################################
[2022-03-15 07:18:30,221] {base_executor.py:82} INFO - Adding to queue: ['airflow', 'tasks', 'run', 'MySQL_to_Redshift_v3', 's3_folder_cleanup', '2022-03-09T00:00:00+00:00', '--local', '--pool', 'default_pool', '--subdir', 'DAGS_FOLDER/MySQL_to_Redshift_v3.py', '--cfg-path', '/tmp/tmpxkdlhklx']
[2022-03-15 07:18:34,176] {local_executor.py:79} INFO - QueuedLocalWorker running ['airflow', 'tasks', 'run', 'MySQL_to_Redshift_v3', 's3_folder_cleanup', '2022-03-09T00:00:00+00:00', '--local', '--pool', 'default_pool', '--subdir', 'DAGS_FOLDER/MySQL_to_Redshift_v3.py', '--cfg-path', '/tmp/tmpxkdlhklx']
########################################################################################
### LOG ##### DAG ## 13개 중 8개 완료 ### tasks ## 2개 대기 / 24개 완료 / 1개 실행중 ###
########################################################################################
[2022-03-15 07:18:34,190] {backfill_job.py:388} INFO - [backfill progress] | finished run 8 of 13 | tasks waiting: 2 | succeeded: 24 | running: 1 | failed: 0 | skipped: 0 | deadlocked: 0 | not ready: 2
[2022-03-15 07:18:34,203] {dagbag.py:496} INFO - Filling up the DagBag from /var/lib/***/dags/MySQL_to_Redshift_v3.py

Running <TaskInstance: MySQL_to_Redshift_v3.s3_folder_cleanup 2022-03-09T00:00:00+00:00 [queued]> on host ip-172-31-56-119.ap-northeast-2.compute.internal
########################################################################################
### LOG ##### DAG ## 13개 중 8개 완료 ### tasks ## 2개 대기 / 25개 완료 / 0개 실행중 ###
########################################################################################
[2022-03-15 07:18:39,187] {backfill_job.py:388} INFO - [backfill progress] | finished run 8 of 13 | tasks waiting: 2 | succeeded: 25 | running: 0 | failed: 0 | skipped: 0 | deadlocked: 0 | not ready: 2
##################################
### TASK ##### mysql_to_s3_nps ###
##################################
[2022-03-15 07:18:39,200] {base_executor.py:82} INFO - Adding to queue: ['airflow', 'tasks', 'run', 'MySQL_to_Redshift_v3', 'mysql_to_s3_nps', '2022-03-09T00:00:00+00:00', '--local', '--pool', 'default_pool', '--subdir', 'DAGS_FOLDER/MySQL_to_Redshift_v3.py', '--cfg-path', '/tmp/tmpmx6726ki']
[2022-03-15 07:18:44,186] {local_executor.py:79} INFO - QueuedLocalWorker running ['airflow', 'tasks', 'run', 'MySQL_to_Redshift_v3', 'mysql_to_s3_nps', '2022-03-09T00:00:00+00:00', '--local', '--pool', 'default_pool', '--subdir', 'DAGS_FOLDER/MySQL_to_Redshift_v3.py', '--cfg-path', '/tmp/tmpmx6726ki']
########################################################################################
### LOG ##### DAG ## 13개 중 8개 완료 ### tasks ## 1개 대기 / 25개 완료 / 1개 실행중 ###
########################################################################################
[2022-03-15 07:18:44,192] {backfill_job.py:388} INFO - [backfill progress] | finished run 8 of 13 | tasks waiting: 1 | succeeded: 25 | running: 1 | failed: 0 | skipped: 0 | deadlocked: 0 | not ready: 1
[2022-03-15 07:18:44,217] {dagbag.py:496} INFO - Filling up the DagBag from /var/lib/***/dags/MySQL_to_Redshift_v3.py

Running <TaskInstance: MySQL_to_Redshift_v3.mysql_to_s3_nps 2022-03-09T00:00:00+00:00 [queued]> on host ip-172-31-56-119.ap-northeast-2.compute.internal
########################################################################################
### LOG ##### DAG ## 13개 중 8개 완료 ### tasks ## 1개 대기 / 26개 완료 / 0개 실행중 ###
########################################################################################
[2022-03-15 07:18:49,201] {backfill_job.py:388} INFO - [backfill progress] | finished run 8 of 13 | tasks waiting: 1 | succeeded: 26 | running: 0 | failed: 0 | skipped: 0 | deadlocked: 0 | not ready: 1
#####################################
### TASK ##### s3_to_redshift_nps ###
#####################################
[2022-03-15 07:18:49,213] {base_executor.py:82} INFO - Adding to queue: ['airflow', 'tasks', 'run', 'MySQL_to_Redshift_v3', 's3_to_redshift_nps', '2022-03-09T00:00:00+00:00', '--local', '--pool', 'default_pool', '--subdir', 'DAGS_FOLDER/MySQL_to_Redshift_v3.py', '--cfg-path', '/tmp/tmpgxhrez6b']
[2022-03-15 07:18:54,200] {local_executor.py:79} INFO - QueuedLocalWorker running ['airflow', 'tasks', 'run', 'MySQL_to_Redshift_v3', 's3_to_redshift_nps', '2022-03-09T00:00:00+00:00', '--local', '--pool', 'default_pool', '--subdir', 'DAGS_FOLDER/MySQL_to_Redshift_v3.py', '--cfg-path', '/tmp/tmpgxhrez6b']
########################################################################################
### LOG ##### DAG ## 13개 중 8개 완료 ### tasks ## 0개 대기 / 26개 완료 / 1개 실행중 ###
########################################################################################
[2022-03-15 07:18:54,209] {backfill_job.py:388} INFO - [backfill progress] | finished run 8 of 13 | tasks waiting: 0 | succeeded: 26 | running: 1 | failed: 0 | skipped: 0 | deadlocked: 0 | not ready: 0
[2022-03-15 07:18:54,227] {dagbag.py:496} INFO - Filling up the DagBag from /var/lib/***/dags/MySQL_to_Redshift_v3.py

Running <TaskInstance: MySQL_to_Redshift_v3.s3_to_redshift_nps 2022-03-09T00:00:00+00:00 [queued]> on host ip-172-31-56-119.ap-northeast-2.compute.internal
##############################################################
### LOG ##### DAG의 Backfill이 successful & UI Marking run ###
##############################################################
[2022-03-15 07:18:59,214] {dagrun.py:477} INFO - Marking run <DagRun MySQL_to_Redshift_v3 @ 2022-03-09 00:00:00+00:00: backfill__2022-03-09T00:00:00+00:00, externally triggered: False> successful
########################################################################################
### LOG ##### DAG ## 13개 중 9개 완료 ### tasks ## 0개 대기 / 27개 완료 / 0개 실행중 ###
########################################################################################
[2022-03-15 07:18:59,216] {backfill_job.py:388} INFO - [backfill progress] | finished run 9 of 13 | tasks waiting: 0 | succeeded: 27 | running: 0 | failed: 0 | skipped: 0 | deadlocked: 0 | not ready: 0
#################################################################################################
### LOG ##### max_active_runs 제한에 걸려서 다른 DAG 완료까지 대기 ### 아마 max_active_runs = 1 #
#################################################################################################
[2022-03-15 07:18:59,216] {backfill_job.py:818} INFO - max_active_runs limit for dag MySQL_to_Redshift_v3 has been reached  - waiting for other dag runs to finish

#############################################################################
###### 여기부터는 이미 backfill이 실행되어서 추가로 실행되지 않는 듯함.
###### 이전에 DAG를 처음 실행할 때 backfill이 2022-03-10 ~ 2022-03-15이였고, 이번에 실행한 backfill end-date가 2022-03-14라서 위 추측이 맞는듯
################################################################################
###### 성공한 backfill은 실행 날짜가 중구난방인건가?
###### 2022-03-10 -> 2022-03-12 -> 2022-03-13 -> 2022-03-11
###### 이런 순서로 실행된다.
#############################################################################

##############################################################
### LOG ##### DAG의 Backfill이 successful & UI Marking run ###
##############################################################
[2022-03-15 07:19:04,216] {dagrun.py:477} INFO - Marking run <DagRun MySQL_to_Redshift_v3 @ 2022-03-10 00:00:00+00:00: backfill__2022-03-10T00:00:00+00:00, externally triggered: False> successful

[2022-03-15 07:19:04,218] {backfill_job.py:388} INFO - [backfill progress] | finished run 10 of 13 | tasks waiting: 0 | succeeded: 30 | running: 0 | failed: 0 | skipped: 0 | deadlocked: 0 | not ready: 0
[2022-03-15 07:19:04,218] {backfill_job.py:818} INFO - max_active_runs limit for dag MySQL_to_Redshift_v3 has been reached  - waiting for other dag runs to finish

[2022-03-15 07:19:09,221] {dagrun.py:477} INFO - Marking run <DagRun MySQL_to_Redshift_v3 @ 2022-03-12 00:00:00+00:00: backfill__2022-03-12T00:00:00+00:00, externally triggered: False> successful

[2022-03-15 07:19:09,223] {backfill_job.py:388} INFO - [backfill progress] | finished run 11 of 13 | tasks waiting: 0 | succeeded: 33 | running: 0 | failed: 0 | skipped: 0 | deadlocked: 0 | not ready: 0
[2022-03-15 07:19:09,223] {backfill_job.py:818} INFO - max_active_runs limit for dag MySQL_to_Redshift_v3 has been reached  - waiting for other dag runs to finish

[2022-03-15 07:19:14,232] {dagrun.py:477} INFO - Marking run <DagRun MySQL_to_Redshift_v3 @ 2022-03-13 00:00:00+00:00: backfill__2022-03-13T00:00:00+00:00, externally triggered: False> successful

[2022-03-15 07:19:14,238] {backfill_job.py:388} INFO - [backfill progress] | finished run 12 of 13 | tasks waiting: 0 | succeeded: 36 | running: 0 | failed: 0 | skipped: 0 | deadlocked: 0 | not ready: 0
[2022-03-15 07:19:14,238] {backfill_job.py:818} INFO - max_active_runs limit for dag MySQL_to_Redshift_v3 has been reached  - waiting for other dag runs to finish
[2022-03-15 07:19:15,245] {backfill_job.py:818} INFO - max_active_runs limit for dag MySQL_to_Redshift_v3 has been reached  - waiting for other dag runs to finish

[2022-03-15 07:19:19,232] {dagrun.py:477} INFO - Marking run <DagRun MySQL_to_Redshift_v3 @ 2022-03-11 00:00:00+00:00: backfill__2022-03-11T00:00:00+00:00, externally triggered: False> successful

[2022-03-15 07:19:19,234] {backfill_job.py:388} INFO - [backfill progress] | finished run 13 of 13 | tasks waiting: 0 | succeeded: 39 | running: 0 | failed: 0 | skipped: 0 | deadlocked: 0 | not ready: 0
[2022-03-15 07:19:19,236] {local_executor.py:386} INFO - Shutting down LocalExecutor; waiting for running tasks to finish.  Signal again if you don't want to wait.
[2022-03-15 07:19:19,306] {backfill_job.py:831} INFO - Backfill done. Exiting.

# Assignment 3. Summary Table: 다른 써머리 테이블 예 추가해보기

NPS - Net Promoter Socre

10점 만점으로 '주변에 추천하겠는가?'라는 질문을 기반으로 고객 만족도를 계산
10, 9점 추천하겠다는 고객(promoter)의 비율에서 0-6점의 불평고객(detractor)의 비율을 뺀 것이 NPS
7, 8점은 아예 계산에 안 들어감

## A. SQL 구현

In [36]:
%%sql

SELECT LEFT(created_at, 10)
    , ROUND(SUM(CASE
                  WHEN score >= 9 THEN 1
                  WHEN score <= 6 THEN -1
                END)::float / COUNT(1) * 100, 2)
FROM mildsalmon_su.nps
GROUP BY 1
ORDER BY 1
;

 * postgresql://mildsalmon_su:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
364 rows affected.

[('2019-01-01', -100.0),
 ('2019-01-02', 100.0),
 ('2019-01-03', 100.0),
 ('2019-01-04', -33.33),
 ('2019-01-05', -100.0),
 ('2019-01-06', -60.0),
 ('2019-01-07', -33.33),
 ('2019-01-08', 83.33),
 ('2019-01-09', 100.0),
 ('2019-01-10', 100.0),
 ('2019-01-11', 100.0),
 ('2019-01-12', 50.0),
 ('2019-01-13', 20.0),
 ('2019-01-14', 0.0),
 ('2019-01-15', 0.0),
 ('2019-01-16', -100.0),
 ('2019-01-17', -100.0),
 ('2019-01-18', -33.33),
 ('2019-01-19', -60.0),
 ('2019-01-20', 60.0),
 ('2019-01-21', 16.67),
 ('2019-01-22', 14.29),
 ('2019-01-23', -100.0),
 ('2019-01-24', -100.0),
 ('2019-01-25', 50.0),
 ('2019-01-26', -20.0),
 ('2019-01-27', 60.0),
 ('2019-01-28', 42.86),
 ('2019-01-29', -25.0),
 ('2019-01-30', 0.0),
 ('2019-01-31', -50.0),
 ('2019-02-01', 14.29),
 ('2019-02-02', 38.46),
 ('2019-02-03', 23.53),
 ('2019-02-04', 33.33),
 ('2019-02-05', 24.14),
 ('2019-02-06', 37.5),
 ('2019-02-07', 23.08),
 ('2019-02-08', 47.37),
 ('2019-02-09', 43.48),
 ('2019-02-10', 46.43),
 ('2019-02-11', 54.55),
 ('2019-02-12', 40.54),
 ('2019-02-13', 60.0),
 ('2019-02-14', 28.57),
 ('2019-02-15', 5.56),
 ('2019-02-16', 45.45),
 ('2019-02-17', 14.29),
 ('2019-02-18', 14.71),
 ('2019-02-19', 2.78),
 ('2019-02-20', 27.27),
 ('2019-02-21', 13.33),
 ('2019-02-22', 27.27),
 ('2019-02-23', 29.63),
 ('2019-02-24', 39.39),
 ('2019-02-25', 38.89),
 ('2019-02-26', 53.66),
 ('2019-02-27', -26.67),
 ('2019-02-28', 10.53),
 ('2019-03-01', 35.48),
 ('2019-03-02', 51.28),
 ('2019-03-03', 38.3),
 ('2019-03-04', 46.43),
 ('2019-03-05', 36.92),
 ('2019-03-06', 62.5),
 ('2019-03-07', 42.86),
 ('2019-03-08', 74.42),
 ('2019-03-09', 75.47),
 ('2019-03-10', 63.49),
 ('2019-03-11', 35.62),
 ('2019-03-12', 40.96),
 ('2019-03-13', 45.83),
 ('2019-03-14', 55.88),
 ('2019-03-15', 52.17),
 ('2019-03-16', 49.12),
 ('2019-03-17', 57.81),
 ('2019-03-18', 60.27),
 ('2019-03-19', 62.96),
 ('2019-03-20', 41.38),
 ('2019-03-21', 63.16),
 ('2019-03-22', 60.87),
 ('2019-03-23', 54.39),
 ('2019-03-24', 37.31),
 ('2019-03-25', 60.81),
 ('2019-03-26', 57.65),
 ('2019-03-27', 43.75),
 ('2019-03-28', 43.9),
 ('2019-03-29', 48.0),
 ('2019-03-30', 67.86),
 ('2019-03-31', 60.87),
 ('2019-04-01', 46.34),
 ('2019-04-02', 62.0),
 ('2019-04-03', 61.9),
 ('2019-04-04', 28.57),
 ('2019-04-05', 66.67),
 ('2019-04-06', 65.0),
 ('2019-04-07', 57.73),
 ('2019-04-08', 53.91),
 ('2019-04-09', 60.31),
 ('2019-04-10', 51.92),
 ('2019-04-11', 35.29),
 ('2019-04-12', 50.6),
 ('2019-04-13', 55.1),
 ('2019-04-14', 58.93),
 ('2019-04-15', 57.94),
 ('2019-04-16', 52.9),
 ('2019-04-17', 57.41),
 ('2019-04-18', 61.54),
 ('2019-04-19', 59.77),
 ('2019-04-20', 46.08),
 ('2019-04-21', 41.74),
 ('2019-04-22', 57.69),
 ('2019-04-23', 51.45),
 ('2019-04-24', 69.49),
 ('2019-04-25', 48.65),
 ('2019-04-26', 42.53),
 ('2019-04-27', 51.46),
 ('2019-04-28', 53.78),
 ('2019-04-29', 40.44),
 ('2019-04-30', 49.34),
 ('2019-05-01', 51.47),
 ('2019-05-02', 48.86),
 ('2019-05-03', 36.84),
 ('2019-05-04', 56.39),
 ('2019-05-05', 68.59),
 ('2019-05-06', 53.76),
 ('2019-05-07', 57.73),
 ('2019-05-08', 61.73),
 ('2019-05-09', 54.46),
 ('2019-05-10', 58.2),
 ('2019-05-11', 63.83),
 ('2019-05-12', 54.27),
 ('2019-05-13', 56.22),
 ('2019-05-14', 55.28),
 ('2019-05-15', 53.66),
 ('2019-05-16', 55.34),
 ('2019-05-17', 46.77),
 ('2019-05-18', 48.03),
 ('2019-05-19', 55.29),
 ('2019-05-20', 52.15),
 ('2019-05-21', 54.85),
 ('2019-05-22', 52.08),
 ('2019-05-23', 46.85),
 ('2019-05-24', 51.15),
 ('2019-05-25', 55.03),
 ('2019-05-26', 62.13),
 ('2019-05-27', 50.79),
 ('2019-05-28', 58.1),
 ('2019-05-29', 54.0),
 ('2019-05-30', 57.14),
 ('2019-05-31', 47.89),
 ('2019-06-01', 60.11),
 ('2019-06-02', 58.91),
 ('2019-06-03', 61.76),
 ('2019-06-04', 64.09),
 ('2019-06-05', 61.98),
 ('2019-06-06', 69.48),
 ('2019-06-07', 65.28),
 ('2019-06-08', 68.83),
 ('2019-06-09', 75.4),
 ('2019-06-10', 67.94),
 ('2019-06-11', 65.59),
 ('2019-06-12', 53.54),
 ('2019-06-13', 69.03),
 ('2019-06-14', 63.79),
 ('2019-06-15', 70.14),
 ('2019-06-16', 54.51),
 ('2019-06-17', 62.13),
 ('2019-06-18', 68.86),
 ('2019-06-19', 58.82),
 ('2019-06-20', 62.87),
 ('2019-06-21', 62.44),
 ('2019-06-22', 66.67),
 ('2019-06-23', 66.28),
 ('2019-06-24', 72.54),
 ('2019-06-25', 63.21),
 ('2019-06-26', 60.14),
 ('2019-06-27', 69.19),
 ('2019-06-28', 75.49),
 ('2019-06-29', 60.65),
 ('2019-06-30', 60.15),
 ('2019-07-01', 71.72),
 ('2019-07-02', 71.43),
 ('2019-07-03', 73.33),
 ('2019-07-04', 69.65),
 ('2019-07-05', 67.65),
 ('2019-07-06', 59.65),
 ('2019-07-07', 67.92),
 ('2019-07-08', 68.39),
 ('2019-07-09', 63.11),
 ('2019-07-10', 57.95),
 ('2019-07-11', 57.02),
 ('2019-07-12', 64.79),
 ('2019-07-13', 63.28),
 ('2019-07-14', 66.76),
 ('2019-07-15', 64.6),
 ('2019-07-16', 63.03),
 ('2019-07-17', 55.56),
 ('2019-07-18', 60.98),
 ('2019-07-19', 65.11),
 ('2019-07-20', 67.68),
 ('2019-07-21', 68.94),
 ('2019-07-22', 62.65),
 ('2019-07-23', 64.46),
 ('2019-07-24', 59.17),
 ('2019-07-25', 69.85),
 ('2019-07-26', 59.25),
 ('2019-07-27', 62.97),
 ('2019-07-28', 64.55),
 ('2019-07-29', 60.09),
 ('2019-07-30', 65.21),
 ('2019-07-31', 60.25),
 ('2019-08-01', 57.0),
 ('2019-08-02', 63.46),
 ('2019-08-03', 71.39),
 ('2019-08-04', 66.2),
 ('2019-08-05', 71.01),
 ('2019-08-06', 72.41),
 ('2019-08-07', 65.69),
 ('2019-08-08', 66.1),
 ('2019-08-09', 67.38),
 ('2019-08-10', 71.0),
 ('2019-08-11', 71.3),
 ('2019-08-12', 69.8),
 ('2019-08-13', 74.4),
 ('2019-08-14', 70.87),
 ('2019-08-15', 58.66),
 ('2019-08-16', 71.56),
 ('2019-08-17', 63.07),
 ('2019-08-18', 70.9),
 ('2019-08-19', 68.32),
 ('2019-08-20', 67.97),
 ('2019-08-21', 62.8),
 ('2019-08-22', 64.43),
 ('2019-08-23', 59.42),
 ('2019-08-24', 67.01),
 ('2019-08-25', 66.96),
 ('2019-08-26', 68.76),
 ('2019-08-27', 67.35),
 ('2019-08-28', 64.16),
 ('2019-08-29', 65.35),
 ('2019-08-30', 65.18),
 ('2019-08-31', 71.92),
 ('2019-09-01', 58.81),
 ('2019-09-02', 52.25),
 ('2019-09-03', 50.97),
 ('2019-09-04', 46.81),
 ('2019-09-05', 42.95),
 ('2019-09-06', 42.77),
 ('2019-09-07', 36.94),
 ('2019-09-08', 31.99),
 ('2019-09-09', 41.18),
 ('2019-09-10', 31.81),
 ('2019-09-11', 43.75),
 ('2019-09-12', 43.97),
 ('2019-09-13', 38.37),
 ('2019-09-14', 42.66),
 ('2019-09-15', 36.49),
 ('2019-09-16', 29.15),
 ('2019-09-17', 32.62),
 ('2019-09-18', 44.91),
 ('2019-09-19', 39.96),
 ('2019-09-20', 39.1),
 ('2019-09-21', 40.0),
 ('2019-09-22', 30.32),
 ('2019-09-23', 29.12),
 ('2019-09-24', 26.43),
 ('2019-09-25', 35.59),
 ('2019-09-26', 41.55),
 ('2019-09-27', 33.45),
 ('2019-09-28', 32.64),
 ('2019-09-29', 32.62),
 ('2019-09-30', 31.09),
 ('2019-10-01', 31.67),
 ('2019-10-02', 43.69),
 ('2019-10-03', 49.91),
 ('2019-10-04', 54.67),
 ('2019-10-05', 51.82),
 ('2019-10-06', 57.76),
 ('2019-10-07', 54.25),
 ('2019-10-08', 55.56),
 ('2019-10-09', 46.61),
 ('2019-10-10', 55.12),
 ('2019-10-11', 52.02),
 ('2019-10-12', 58.46),
 ('2019-10-13', 57.25),
 ('2019-10-14', 59.34),
 ('2019-10-15', 52.71),
 ('2019-10-16', 48.3),
 ('2019-10-17', 53.56),
 ('2019-10-18', 48.31),
 ('2019-10-19', 60.88),
 ('2019-10-20', 60.67),
 ('2019-10-21', 52.18),
 ('2019-10-22', 55.74),
 ('2019-10-23', 47.6),
 ('2019-10-24', 49.05),
 ('2019-10-25', 52.57),
 ('2019-10-26', 53.34),
 ('2019-10-27', 61.15),
 ('2019-10-28', 58.48),
 ('2019-10-29', 57.24),
 ('2019-10-30', 47.33),
 ('2019-10-31', 49.84),
 ('2019-11-01', 56.59),
 ('2019-11-02', 58.49),
 ('2019-11-03', 63.21),
 ('2019-11-04', 58.48),
 ('2019-11-05', 64.28),
 ('2019-11-06', 50.08),
 ('2019-11-07', 57.89),
 ('2019-11-08', 62.2),
 ('2019-11-09', 63.76),
 ('2019-11-10', 61.92),
 ('2019-11-11', 64.5),
 ('2019-11-12', 66.69),
 ('2019-11-13', 55.46),
 ('2019-11-14', 64.09),
 ('2019-11-15', 53.39),
 ('2019-11-16', 65.5),
 ('2019-11-17', 60.82),
 ('2019-11-18', 63.67),
 ('2019-11-19', 61.79),
 ('2019-11-20', 59.97),
 ('2019-11-21', 54.89),
 ('2019-11-22', 60.11),
 ('2019-11-23', 64.19),
 ('2019-11-24', 62.2),
 ('2019-11-25', 67.96),
 ('2019-11-26', 64.81),
 ('2019-11-27', 58.61),
 ('2019-11-28', 55.62),
 ('2019-11-29', 58.26),
 ('2019-11-30', 61.87),
 ('2019-12-01', 62.26),
 ('2019-12-02', 61.65),
 ('2019-12-03', 66.53),
 ('2019-12-04', 58.05),
 ('2019-12-05', 65.49),
 ('2019-12-06', 67.23),
 ('2019-12-07', 67.13),
 ('2019-12-08', 68.88),
 ('2019-12-09', 66.85),
 ('2019-12-10', 66.59),
 ('2019-12-11', 52.21),
 ('2019-12-12', 62.7),
 ('2019-12-13', 61.12),
 ('2019-12-14', 65.66),
 ('2019-12-15', 68.13),
 ('2019-12-16', 66.67),
 ('2019-12-17', 68.75),
 ('2019-12-18', 55.63),
 ('2019-12-19', 67.31),
 ('2019-12-20', 69.12),
 ('2019-12-21', 69.47),
 ('2019-12-22', 67.49),
 ('2019-12-23', 67.52),
 ('2019-12-24', 67.11),
 ('2019-12-25', 64.15),
 ('2019-12-26', 67.01),
 ('2019-12-27', 67.82),
 ('2019-12-28', 65.97),
 ('2019-12-29', 66.67),
 ('2019-12-30', 68.71)]

In [37]:
%%sql

SELECT *
FROM mildsalmon_su.nps
ORDER BY 2 ASC
LIMIT 10
;

 * postgresql://mildsalmon_su:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(1, datetime.datetime(2019, 1, 1, 22, 4, 21), 1),
 (2, datetime.datetime(2019, 1, 2, 3, 47, 26), 9),
 (3, datetime.datetime(2019, 1, 3, 19, 31, 41), 10),
 (4, datetime.datetime(2019, 1, 4, 5, 2, 11), 10),
 (5, datetime.datetime(2019, 1, 4, 18, 2, 53), 1),
 (6, datetime.datetime(2019, 1, 4, 23, 6, 18), 2),
 (8, datetime.datetime(2019, 1, 5, 9, 26, 13), 2),
 (7, datetime.datetime(2019, 1, 5, 13, 45, 47), 0),
 (9, datetime.datetime(2019, 1, 5, 22, 36, 38), 6),
 (14, datetime.datetime(2019, 1, 6, 2, 33, 32), 2)]

## B. nps_summary 테이블 구성

In [ ]:
from airflow import DAG
from airflow.operators.python import PythonOperator
from airflow.models import Variable
from airflow.hooks.postgres_hook import PostgresHook
from airflow import AirflowException
from airflow.exceptions import AirflowException

from datetime import datetime
from datetime import timedelta

import requests
import logging
import psycopg2

def get_Redshift_connection():
  hook = PosgresHook(postgres_conn_id = 'redshift_dev_db')
  return hook.get_conn().cursor()


def execSQL(**context):
  schema = context['params']['schema']
  table = context['params']['table']
  select_sql = context['params']['sql']

  logging.info(schema)
  logging.info(table)
  logging.info(select_sql)

  cur = get_Redshift_connection()

  sql = f"""
    DROP TABLE IF EXISTS {schema}.temp_{table};
    CREATE TABLE {schema}.temp_{table} AS 
  """
  sql += select_sql
  cur.execute(sql)

  cur.execute(f"SELECT COUNT(1) FROM {schema}.temp_{table}")
  count = cur.fetchone()[0]

  if count == 0:
    raise ValueError(f"""{schema}.{table} didn't have any record""")
  
  try:
    sql = f"""
      DROP TABLE IF EXISTS {schema}.{table};
      ALTER TABLE {schema}.temp_{table} RENAME to {table};
    """
    sql += "COMMIT;"
    logging.info(sql)
    cur.execute(sql)
  except Exception as e:
    cur.execute("ROLLBACK")
    logging.error("Failed to sql. Completed ROLLBACK!")
    raise AirflowException("")

dag = DAG(
    dag_id = "Build_Summary_nps",
    start_date = datetime(2022, 3, 10),
    schedule_interval = '@once',
    catchup = False
)

execsql = PythonOperator(
    task_id = 'execsql',
    python_callable = execSQL,
    params = {
        'schema': 'mildsalon_su',
        'table': 'nps_summary',
        'sql': """
          SELECT LEFT(created_at, 10)
              , ROUND(SUM(CASE
                            WHEN score >= 9 THEN 1
                            WHEN score <= 6 THEN -1
                          END)::float / COUNT(1) * 100, 2)
          FROM mildsalmon_su.nps
          GROUP BY 1
          ORDER BY 1
          ;
        """
    },
    provide_context = True,
    dag = dag
)

In [39]:
%%sql

SELECT *
FROM mildsalmon_su.nps_summary
ORDER BY 1
;

 * postgresql://mildsalmon_su:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
364 rows affected.

[('2019-01-01', -100.0),
 ('2019-01-02', 100.0),
 ('2019-01-03', 100.0),
 ('2019-01-04', -33.33),
 ('2019-01-05', -100.0),
 ('2019-01-06', -60.0),
 ('2019-01-07', -33.33),
 ('2019-01-08', 83.33),
 ('2019-01-09', 100.0),
 ('2019-01-10', 100.0),
 ('2019-01-11', 100.0),
 ('2019-01-12', 50.0),
 ('2019-01-13', 20.0),
 ('2019-01-14', 0.0),
 ('2019-01-15', 0.0),
 ('2019-01-16', -100.0),
 ('2019-01-17', -100.0),
 ('2019-01-18', -33.33),
 ('2019-01-19', -60.0),
 ('2019-01-20', 60.0),
 ('2019-01-21', 16.67),
 ('2019-01-22', 14.29),
 ('2019-01-23', -100.0),
 ('2019-01-24', -100.0),
 ('2019-01-25', 50.0),
 ('2019-01-26', -20.0),
 ('2019-01-27', 60.0),
 ('2019-01-28', 42.86),
 ('2019-01-29', -25.0),
 ('2019-01-30', 0.0),
 ('2019-01-31', -50.0),
 ('2019-02-01', 14.29),
 ('2019-02-02', 38.46),
 ('2019-02-03', 23.53),
 ('2019-02-04', 33.33),
 ('2019-02-05', 24.14),
 ('2019-02-06', 37.5),
 ('2019-02-07', 23.08),
 ('2019-02-08', 47.37),
 ('2019-02-09', 43.48),
 ('2019-02-10', 46.43),
 ('2019-02-11', 54.55),
 ('2019-02-12', 40.54),
 ('2019-02-13', 60.0),
 ('2019-02-14', 28.57),
 ('2019-02-15', 5.56),
 ('2019-02-16', 45.45),
 ('2019-02-17', 14.29),
 ('2019-02-18', 14.71),
 ('2019-02-19', 2.78),
 ('2019-02-20', 27.27),
 ('2019-02-21', 13.33),
 ('2019-02-22', 27.27),
 ('2019-02-23', 29.63),
 ('2019-02-24', 39.39),
 ('2019-02-25', 38.89),
 ('2019-02-26', 53.66),
 ('2019-02-27', -26.67),
 ('2019-02-28', 10.53),
 ('2019-03-01', 35.48),
 ('2019-03-02', 51.28),
 ('2019-03-03', 38.3),
 ('2019-03-04', 46.43),
 ('2019-03-05', 36.92),
 ('2019-03-06', 62.5),
 ('2019-03-07', 42.86),
 ('2019-03-08', 74.42),
 ('2019-03-09', 75.47),
 ('2019-03-10', 63.49),
 ('2019-03-11', 35.62),
 ('2019-03-12', 40.96),
 ('2019-03-13', 45.83),
 ('2019-03-14', 55.88),
 ('2019-03-15', 52.17),
 ('2019-03-16', 49.12),
 ('2019-03-17', 57.81),
 ('2019-03-18', 60.27),
 ('2019-03-19', 62.96),
 ('2019-03-20', 41.38),
 ('2019-03-21', 63.16),
 ('2019-03-22', 60.87),
 ('2019-03-23', 54.39),
 ('2019-03-24', 37.31),
 ('2019-03-25', 60.81),
 ('2019-03-26', 57.65),
 ('2019-03-27', 43.75),
 ('2019-03-28', 43.9),
 ('2019-03-29', 48.0),
 ('2019-03-30', 67.86),
 ('2019-03-31', 60.87),
 ('2019-04-01', 46.34),
 ('2019-04-02', 62.0),
 ('2019-04-03', 61.9),
 ('2019-04-04', 28.57),
 ('2019-04-05', 66.67),
 ('2019-04-06', 65.0),
 ('2019-04-07', 57.73),
 ('2019-04-08', 53.91),
 ('2019-04-09', 60.31),
 ('2019-04-10', 51.92),
 ('2019-04-11', 35.29),
 ('2019-04-12', 50.6),
 ('2019-04-13', 55.1),
 ('2019-04-14', 58.93),
 ('2019-04-15', 57.94),
 ('2019-04-16', 52.9),
 ('2019-04-17', 57.41),
 ('2019-04-18', 61.54),
 ('2019-04-19', 59.77),
 ('2019-04-20', 46.08),
 ('2019-04-21', 41.74),
 ('2019-04-22', 57.69),
 ('2019-04-23', 51.45),
 ('2019-04-24', 69.49),
 ('2019-04-25', 48.65),
 ('2019-04-26', 42.53),
 ('2019-04-27', 51.46),
 ('2019-04-28', 53.78),
 ('2019-04-29', 40.44),
 ('2019-04-30', 49.34),
 ('2019-05-01', 51.47),
 ('2019-05-02', 48.86),
 ('2019-05-03', 36.84),
 ('2019-05-04', 56.39),
 ('2019-05-05', 68.59),
 ('2019-05-06', 53.76),
 ('2019-05-07', 57.73),
 ('2019-05-08', 61.73),
 ('2019-05-09', 54.46),
 ('2019-05-10', 58.2),
 ('2019-05-11', 63.83),
 ('2019-05-12', 54.27),
 ('2019-05-13', 56.22),
 ('2019-05-14', 55.28),
 ('2019-05-15', 53.66),
 ('2019-05-16', 55.34),
 ('2019-05-17', 46.77),
 ('2019-05-18', 48.03),
 ('2019-05-19', 55.29),
 ('2019-05-20', 52.15),
 ('2019-05-21', 54.85),
 ('2019-05-22', 52.08),
 ('2019-05-23', 46.85),
 ('2019-05-24', 51.15),
 ('2019-05-25', 55.03),
 ('2019-05-26', 62.13),
 ('2019-05-27', 50.79),
 ('2019-05-28', 58.1),
 ('2019-05-29', 54.0),
 ('2019-05-30', 57.14),
 ('2019-05-31', 47.89),
 ('2019-06-01', 60.11),
 ('2019-06-02', 58.91),
 ('2019-06-03', 61.76),
 ('2019-06-04', 64.09),
 ('2019-06-05', 61.98),
 ('2019-06-06', 69.48),
 ('2019-06-07', 65.28),
 ('2019-06-08', 68.83),
 ('2019-06-09', 75.4),
 ('2019-06-10', 67.94),
 ('2019-06-11', 65.59),
 ('2019-06-12', 53.54),
 ('2019-06-13', 69.03),
 ('2019-06-14', 63.79),
 ('2019-06-15', 70.14),
 ('2019-06-16', 54.51),
 ('2019-06-17', 62.13),
 ('2019-06-18', 68.86),
 ('2019-06-19', 58.82),
 ('2019-06-20', 62.87),
 ('2019-06-21', 62.44),
 ('2019-06-22', 66.67),
 ('2019-06-23', 66.28),
 ('2019-06-24', 72.54),
 ('2019-06-25', 63.21),
 ('2019-06-26', 60.14),
 ('2019-06-27', 69.19),
 ('2019-06-28', 75.49),
 ('2019-06-29', 60.65),
 ('2019-06-30', 60.15),
 ('2019-07-01', 71.72),
 ('2019-07-02', 71.43),
 ('2019-07-03', 73.33),
 ('2019-07-04', 69.65),
 ('2019-07-05', 67.65),
 ('2019-07-06', 59.65),
 ('2019-07-07', 67.92),
 ('2019-07-08', 68.39),
 ('2019-07-09', 63.11),
 ('2019-07-10', 57.95),
 ('2019-07-11', 57.02),
 ('2019-07-12', 64.79),
 ('2019-07-13', 63.28),
 ('2019-07-14', 66.76),
 ('2019-07-15', 64.6),
 ('2019-07-16', 63.03),
 ('2019-07-17', 55.56),
 ('2019-07-18', 60.98),
 ('2019-07-19', 65.11),
 ('2019-07-20', 67.68),
 ('2019-07-21', 68.94),
 ('2019-07-22', 62.65),
 ('2019-07-23', 64.46),
 ('2019-07-24', 59.17),
 ('2019-07-25', 69.85),
 ('2019-07-26', 59.25),
 ('2019-07-27', 62.97),
 ('2019-07-28', 64.55),
 ('2019-07-29', 60.09),
 ('2019-07-30', 65.21),
 ('2019-07-31', 60.25),
 ('2019-08-01', 57.0),
 ('2019-08-02', 63.46),
 ('2019-08-03', 71.39),
 ('2019-08-04', 66.2),
 ('2019-08-05', 71.01),
 ('2019-08-06', 72.41),
 ('2019-08-07', 65.69),
 ('2019-08-08', 66.1),
 ('2019-08-09', 67.38),
 ('2019-08-10', 71.0),
 ('2019-08-11', 71.3),
 ('2019-08-12', 69.8),
 ('2019-08-13', 74.4),
 ('2019-08-14', 70.87),
 ('2019-08-15', 58.66),
 ('2019-08-16', 71.56),
 ('2019-08-17', 63.07),
 ('2019-08-18', 70.9),
 ('2019-08-19', 68.32),
 ('2019-08-20', 67.97),
 ('2019-08-21', 62.8),
 ('2019-08-22', 64.43),
 ('2019-08-23', 59.42),
 ('2019-08-24', 67.01),
 ('2019-08-25', 66.96),
 ('2019-08-26', 68.76),
 ('2019-08-27', 67.35),
 ('2019-08-28', 64.16),
 ('2019-08-29', 65.35),
 ('2019-08-30', 65.18),
 ('2019-08-31', 71.92),
 ('2019-09-01', 58.81),
 ('2019-09-02', 52.25),
 ('2019-09-03', 50.97),
 ('2019-09-04', 46.81),
 ('2019-09-05', 42.95),
 ('2019-09-06', 42.77),
 ('2019-09-07', 36.94),
 ('2019-09-08', 31.99),
 ('2019-09-09', 41.18),
 ('2019-09-10', 31.81),
 ('2019-09-11', 43.75),
 ('2019-09-12', 43.97),
 ('2019-09-13', 38.37),
 ('2019-09-14', 42.66),
 ('2019-09-15', 36.49),
 ('2019-09-16', 29.15),
 ('2019-09-17', 32.62),
 ('2019-09-18', 44.91),
 ('2019-09-19', 39.96),
 ('2019-09-20', 39.1),
 ('2019-09-21', 40.0),
 ('2019-09-22', 30.32),
 ('2019-09-23', 29.12),
 ('2019-09-24', 26.43),
 ('2019-09-25', 35.59),
 ('2019-09-26', 41.55),
 ('2019-09-27', 33.45),
 ('2019-09-28', 32.64),
 ('2019-09-29', 32.62),
 ('2019-09-30', 31.09),
 ('2019-10-01', 31.67),
 ('2019-10-02', 43.69),
 ('2019-10-03', 49.91),
 ('2019-10-04', 54.67),
 ('2019-10-05', 51.82),
 ('2019-10-06', 57.76),
 ('2019-10-07', 54.25),
 ('2019-10-08', 55.56),
 ('2019-10-09', 46.61),
 ('2019-10-10', 55.12),
 ('2019-10-11', 52.02),
 ('2019-10-12', 58.46),
 ('2019-10-13', 57.25),
 ('2019-10-14', 59.34),
 ('2019-10-15', 52.71),
 ('2019-10-16', 48.3),
 ('2019-10-17', 53.56),
 ('2019-10-18', 48.31),
 ('2019-10-19', 60.88),
 ('2019-10-20', 60.67),
 ('2019-10-21', 52.18),
 ('2019-10-22', 55.74),
 ('2019-10-23', 47.6),
 ('2019-10-24', 49.05),
 ('2019-10-25', 52.57),
 ('2019-10-26', 53.34),
 ('2019-10-27', 61.15),
 ('2019-10-28', 58.48),
 ('2019-10-29', 57.24),
 ('2019-10-30', 47.33),
 ('2019-10-31', 49.84),
 ('2019-11-01', 56.59),
 ('2019-11-02', 58.49),
 ('2019-11-03', 63.21),
 ('2019-11-04', 58.48),
 ('2019-11-05', 64.28),
 ('2019-11-06', 50.08),
 ('2019-11-07', 57.89),
 ('2019-11-08', 62.2),
 ('2019-11-09', 63.76),
 ('2019-11-10', 61.92),
 ('2019-11-11', 64.5),
 ('2019-11-12', 66.69),
 ('2019-11-13', 55.46),
 ('2019-11-14', 64.09),
 ('2019-11-15', 53.39),
 ('2019-11-16', 65.5),
 ('2019-11-17', 60.82),
 ('2019-11-18', 63.67),
 ('2019-11-19', 61.79),
 ('2019-11-20', 59.97),
 ('2019-11-21', 54.89),
 ('2019-11-22', 60.11),
 ('2019-11-23', 64.19),
 ('2019-11-24', 62.2),
 ('2019-11-25', 67.96),
 ('2019-11-26', 64.81),
 ('2019-11-27', 58.61),
 ('2019-11-28', 55.62),
 ('2019-11-29', 58.26),
 ('2019-11-30', 61.87),
 ('2019-12-01', 62.26),
 ('2019-12-02', 61.65),
 ('2019-12-03', 66.53),
 ('2019-12-04', 58.05),
 ('2019-12-05', 65.49),
 ('2019-12-06', 67.23),
 ('2019-12-07', 67.13),
 ('2019-12-08', 68.88),
 ('2019-12-09', 66.85),
 ('2019-12-10', 66.59),
 ('2019-12-11', 52.21),
 ('2019-12-12', 62.7),
 ('2019-12-13', 61.12),
 ('2019-12-14', 65.66),
 ('2019-12-15', 68.13),
 ('2019-12-16', 66.67),
 ('2019-12-17', 68.75),
 ('2019-12-18', 55.63),
 ('2019-12-19', 67.31),
 ('2019-12-20', 69.12),
 ('2019-12-21', 69.47),
 ('2019-12-22', 67.49),
 ('2019-12-23', 67.52),
 ('2019-12-24', 67.11),
 ('2019-12-25', 64.15),
 ('2019-12-26', 67.01),
 ('2019-12-27', 67.82),
 ('2019-12-28', 65.97),
 ('2019-12-29', 66.67),
 ('2019-12-30', 68.71)]