In [3]:
%load_ext sql

In [4]:
%sql postgresql://mildsalmon_su:Mildsalmon_Su!1@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: mildsalmon_su@dev'

# 1. 테이블 생성

In [5]:
%%sql

DROP TABLE IF EXISTS mildsalmon_su.weather_forecast;
CREATE TABLE mildsalmon_su.weather_forecast(
  date date primary key,
  temp float,
  min_temp float,
  max_temp float,
  create_date timestamp default GETDATE()
);

 * postgresql://mildsalmon_su:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

# 2. API Test

## A. API가 잘 출력되는지 확인

In [4]:
import requests
import pprint

# 북위 37.5642135° 동경 127.0016985°
lat = 37.5642135
lon = 127.0016985
appid = '****'
url = f'https://api.openweathermap.org/data/2.5/onecall?lat={lat}&lon={lon}&appid={appid}&units=metric'
f = requests.get(url)
# print(f.json())
f_json = f.json()

pprint.pprint(f_json['daily'])

[{'clouds': 36,
  'dew_point': -10.18,
  'dt': 1646622000,
  'feels_like': {'day': 5.07, 'eve': 3.75, 'morn': 0.29, 'night': 3.23},
  'humidity': 27,
  'moon_phase': 0.15,
  'moonrise': 1646612400,
  'moonset': 1646662440,
  'pop': 0.04,
  'pressure': 1022,
  'sunrise': 1646603751,
  'sunset': 1646645443,
  'temp': {'day': 6.18,
           'eve': 5.7,
           'max': 6.75,
           'min': 0.18,
           'morn': 0.29,
           'night': 3.23},
  'uvi': 3.27,
  'weather': [{'description': 'scattered clouds',
               'icon': '03d',
               'id': 802,
               'main': 'Clouds'}],
  'wind_deg': 276,
  'wind_gust': 3.72,
  'wind_speed': 3.24},
 {'clouds': 33,
  'dew_point': -4.79,
  'dt': 1646708400,
  'feels_like': {'day': 7.39, 'eve': 6.8, 'morn': 1.61, 'night': 5.49},
  'humidity': 42,
  'moon_phase': 0.18,
  'moonrise': 1646700480,
  'moonset': 0,
  'pop': 0,
  'pressure': 1020,
  'sunrise': 1646690064,
  'sunset': 1646731901,
  'temp': {'day': 7.39,
           'eve': 8.43,
           'max': 9.65,
           'min': 1.3,
           'morn': 1.61,
           'night': 5.49},
  'uvi': 4.03,
  'weather': [{'description': 'scattered clouds',
               'icon': '03d',
               'id': 802,
               'main': 'Clouds'}],
  'wind_deg': 260,
  'wind_gust': 3.42,
  'wind_speed': 3.18},
 {'clouds': 0,
  'dew_point': -2.58,
  'dt': 1646794800,
  'feels_like': {'day': 8.26, 'eve': 10.49, 'morn': 3.35, 'night': 8.26},
  'humidity': 42,
  'moon_phase': 0.21,
  'moonrise': 1646788740,
  'moonset': 1646752500,
  'pop': 0,
  'pressure': 1024,
  'sunrise': 1646776376,
  'sunset': 1646818358,
  'temp': {'day': 10.1,
           'eve': 12.43,
           'max': 13.06,
           'min': 3.1,
           'morn': 3.35,
           'night': 8.26},
  'uvi': 4.43,
  'weather': [{'description': 'clear sky',
               'icon': '01d',
               'id': 800,
               'main': 'Clear'}],
  'wind_deg': 260,
  'wind_gust': 2.52,
  'wind_speed': 1.63},
 {'clouds': 100,
  'dew_point': -2.37,
  'dt': 1646881200,
  'feels_like': {'day': 9.31, 'eve': 9.46, 'morn': 6.31, 'night': 9.09},
  'humidity': 40,
  'moon_phase': 0.25,
  'moonrise': 1646877360,
  'moonset': 1646842500,
  'pop': 0,
  'pressure': 1023,
  'sunrise': 1646862688,
  'sunset': 1646904815,
  'temp': {'day': 11.1,
           'eve': 11.09,
           'max': 13.04,
           'min': 6.31,
           'morn': 6.31,
           'night': 9.09},
  'uvi': 4.5,
  'weather': [{'description': 'overcast clouds',
               'icon': '04d',
               'id': 804,
               'main': 'Clouds'}],
  'wind_deg': 241,
  'wind_gust': 5.65,
  'wind_speed': 4.36},
 {'clouds': 15,
  'dew_point': 0.15,
  'dt': 1646967600,
  'feels_like': {'day': 10.98, 'eve': 12.12, 'morn': 6.01, 'night': 9.56},
  'humidity': 43,
  'moon_phase': 0.27,
  'moonrise': 1646966340,
  'moonset': 1646932380,
  'pop': 0,
  'pressure': 1021,
  'sunrise': 1646948999,
  'sunset': 1646991271,
  'temp': {'day': 12.55,
           'eve': 13.8,
           'max': 14.89,
           'min': 6.01,
           'morn': 6.01,
           'night': 11.21},
  'uvi': 4.42,
  'weather': [{'description': 'few clouds',
               'icon': '02d',
               'id': 801,
               'main': 'Clouds'}],
  'wind_deg': 275,
  'wind_gust': 3.32,
  'wind_speed': 2.8},
 {'clouds': 100,
  'dew_point': 1.13,
  'dt': 1647054000,
  'feels_like': {'day': 10.02, 'eve': 11.8, 'morn': 9.1, 'night': 10.85},
  'humidity': 50,
  'moon_phase': 0.3,
  'moonrise': 1647055620,
  'moonset': 1647022080,
  'pop': 0.04,
  'pressure': 1018,
  'sunrise': 1647035310,
  'sunset': 1647077728,
  'temp': {'day': 11.51,
           'eve': 12.84,
           'max': 13.17,
           'min': 8.9,
           'morn': 9.1,
           'night': 11.81},
  'uvi': 5,
  'weather': [{'description': 'overcast clouds',
               'icon': '04d',
               'id': 804,
               'main': 'Clouds'}],
  'wind_deg': 111,
  'wind_gust': 3.11,
  'wind_speed': 1.08},
 {'clouds': 100,
  'dew_point': 9.98,
  'dt': 1647140400,
  'feels_like': {'day': 10.12, 'eve': 8.55, 'morn': 10.32, 'night': 7.81},
  'humidity': 99,
  'moon_phase': 0.33,
  'moonrise': 1647145320,
  'moonset': 1647111480,
  'pop': 1,
  'pressure': 1014,
  'rain': 28.65,
  'sunrise': 1647121620,
  'sunset': 1647164184,
  'temp': {'day': 10.44,
           'eve': 9.79,
           'max': 11.49,
           'min': 9.17,
           'morn': 10.83,
           'night': 9.17},
  'uvi': 5,
  'weather': [{'description': 'heavy intensity rain',
               'icon': '10d',
               'id': 502,
               'main': 'Rain'}],
  'wind_deg': 84,
  'wind_gust': 6.85,
  'wind_speed': 2.95},
 {'clouds': 100,
  'dew_point': 6.69,
  'dt': 1647226800,
  'feels_like': {'day': 9.33, 'eve': 8.75, 'morn': 7.87, 'night': 7.39},
  'humidity': 80,
  'moon_phase': 0.36,
  'moonrise': 1647235260,
  'moonset': 1647200460,
  'pop': 1,
  'pressure': 1008,
  'rain': 12.29,
  'sunrise': 1647207930,
  'sunset': 1647250639,
  'temp': {'day': 10.17,
           'eve': 9.82,
           'max': 10.66,
           'min': 8.75,
           'morn': 8.77,
           'night': 8.92},
  'uvi': 5,
  'weather': [{'description': 'moderate rain',
               'icon': '10d',
               'id': 501,
               'main': 'Rain'}],
  'wind_deg': 237,
  'wind_gust': 8.99,
  'wind_speed': 2.72}]

## B. date, day_temp, min_temp, max_temp 추출 및 검증

원하는 데이터인 date, day_temp, min_temp, max_temp를 추출해보고, weathermap에서 서울지역 온도와 비교해보기

동일한 결과를 확인할 수 있다.

weathermap site에서는 소수점은 제거하는 것으로 보인다.

In [5]:
from datetime import datetime

days = f_json['daily']
extract_days = []

for day in days:
  date = datetime.fromtimestamp(day['dt']).strftime('%Y-%m-%d')
  day_temp = day['temp']['day']
  max_temp = day['temp']['max']
  min_temp = day['temp']['min']

  extract_days.append([date, day_temp, min_temp, max_temp])

print(*extract_days, sep='\n')

['2022-03-07', 6.18, 6.75, 0.18]
['2022-03-08', 7.39, 9.65, 1.3]
['2022-03-09', 10.1, 13.06, 3.1]
['2022-03-10', 11.1, 13.04, 6.31]
['2022-03-11', 12.55, 14.89, 6.01]
['2022-03-12', 11.51, 13.17, 8.9]
['2022-03-13', 10.44, 11.49, 9.17]
['2022-03-14', 10.17, 10.66, 8.75]

![](/bin/DE7_image/DE8_8_1.png)

# 3. ETL process

## A. full refresh

In [21]:
import psycopg2

def get_Redshift_connection():
    host = "learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com"
    user = "mildsalmon_su"
    password = "Mildsalmon_Su!1"
    port = 5439
    dbname = "dev"
    conn = psycopg2.connect(f"dbname={dbname} user={user} host={host} password={password} port={port}")
    conn.set_session(autocommit=True)

    return conn.cursor()

In [17]:
import requests

def extract(url):
  f = requests.get(url)
  f_json = f.json()

  return f_json

In [18]:
from datetime import datetime

def transform(f_json):
  days = f_json['daily']
  extract_days = []

  for day in days:
    date = datetime.fromtimestamp(day['dt']).strftime('%Y-%m-%d')
    day_temp = day['temp']['day']
    max_temp = day['temp']['max']
    min_temp = day['temp']['min']

    extract_days.append([date, day_temp, min_temp, max_temp])

  return extract_days

In [24]:
def load(days):
  cur = get_Redshift_connection()

  sql = "BEGIN;DELETE FROM mildsalmon_su.weather_forecast;"

  for day in days:
    print(f"date: {day[0]}, day: {day[1]}, min: {day[2]}, max: {day[3]}")
    sql += f"INSERT INTO mildsalmon_su.weather_forecast VALUES ('{day[0]}', '{day[1]}', '{day[2]}', '{day[3]}');"
  sql += "END;"
  
  cur.execute(sql)

In [25]:
lat = 37.5642135
lon = 127.0016985
appid = '****'
url = f'https://api.openweathermap.org/data/2.5/onecall?lat={lat}&lon={lon}&appid={appid}&units=metric'

f_json = extract(url)
days = transform(f_json)
load(days)

date: 2022-03-07, day: 6.18, max: 6.75, min: 0.18
date: 2022-03-08, day: 7.39, max: 9.65, min: 1.3
date: 2022-03-09, day: 10.1, max: 13.06, min: 3.1
date: 2022-03-10, day: 11.1, max: 13.04, min: 6.31
date: 2022-03-11, day: 12.55, max: 14.89, min: 6.01
date: 2022-03-12, day: 11.51, max: 13.17, min: 8.9
date: 2022-03-13, day: 10.44, max: 11.49, min: 9.17
date: 2022-03-14, day: 10.17, max: 10.66, min: 8.75

In [26]:
%%sql

SELECT date date
  , temp
  , min_temp
  , max_temp
  , create_date
FROM mildsalmon_su.weather_forecast
;

 * postgresql://mildsalmon_su:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
8 rows affected.

[(datetime.date(2022, 3, 7), 6.18, 6.75, 0.18, datetime.datetime(2022, 3, 7, 3, 49, 55)),
 (datetime.date(2022, 3, 8), 7.39, 9.65, 1.3, datetime.datetime(2022, 3, 7, 3, 49, 56)),
 (datetime.date(2022, 3, 9), 10.1, 13.06, 3.1, datetime.datetime(2022, 3, 7, 3, 49, 56)),
 (datetime.date(2022, 3, 10), 11.1, 13.04, 6.31, datetime.datetime(2022, 3, 7, 3, 49, 56)),
 (datetime.date(2022, 3, 11), 12.55, 14.89, 6.01, datetime.datetime(2022, 3, 7, 3, 49, 56)),
 (datetime.date(2022, 3, 12), 11.51, 13.17, 8.9, datetime.datetime(2022, 3, 7, 3, 49, 56)),
 (datetime.date(2022, 3, 13), 10.44, 11.49, 9.17, datetime.datetime(2022, 3, 7, 3, 49, 56)),
 (datetime.date(2022, 3, 14), 10.17, 10.66, 8.75, datetime.datetime(2022, 3, 7, 3, 49, 56))]

# 4. weather forecast DAG

weather_forecast table의 내용을 싹 지우고 Airflow에 python 파일을 upload하고 실행

## A. full refresh

In [ ]:
from airflow import DAG
from airflow.operators.python import PythonOperator
from airflow.models import Variable
from airflow.hooks.postgres_hook import PostgresHook

from datetime import datetime
from datetime import timedelta

import requests
import logging
import psycopg2


def get_Redshift_connection():
    hook = PostgresHook(postgres_conn_id='redshift_dev_db')
    return hook.get_conn().cursor()


def extract(**context):
    url = context['params']['url']

    f = requests.get(url)
    f_json = f.json()

    return f_json


def transform(**context):
    days = context['task_instance'].xcom_pull(key='return_value', task_ids='extract')['daily']

    extract_days = []

    for day in days:
        date = datetime.fromtimestamp(day['dt']).strftime('%Y-%m-%d')
        day_temp = day['temp']['day']
        max_temp = day['temp']['max']
        min_temp = day['temp']['min']

        extract_days.append([date, day_temp, min_temp, max_temp])

    logging.info(extract_days)

    return extract_days


def load(**context):
    schema = context['params']['schema']
    table = context['params']['table']
    days = context['task_instance'].xcom_pull(key='return_value', task_ids='transform')

    cur = get_Redshift_connection()

    sql = f"BEGIN;DELETE FROM {schema}.{table};"

    for day in days:
        print(f"date: {day[0]}, day: {day[1]}, min: {day[2]}, max: {day[3]}")
        sql += f"INSERT INTO {schema}.{table} VALUES ('{day[0]}', '{day[1]}', '{day[2]}', '{day[3]}');"
    sql += "END;"

    logging.info(sql)

    cur.execute(sql)


# DAG
weather_forecast = DAG(
    dag_id='weather_forecast',
    start_date=datetime(2022, 3, 6),
    schedule_interval='0 2 * * *',
    catchup=False,
    default_args={
        'retries': 1,
        'retry_delay': timedelta(minutes=3),
    }
)


# tasks
lat = 37.5642135
lon = 127.0016985

extract = PythonOperator(
    task_id='extract',
    python_callable=extract,
    params={
        'url': f"https://api.openweathermap.org/data/2.5/onecall?lat={lat}&lon={lon}&appid={Variable.get('weather_api_key')}&units=metric"
    },
    provide_context=True,
    dag=weather_forecast
)

transform = PythonOperator(
    task_id='transform',
    python_callable=transform,
    params={
    },
    provide_context=True,
    dag=weather_forecast
)

load = PythonOperator(
    task_id='load',
    python_callable=load,
    params={
        'schema': 'mildsalmon_su',
        'table': 'weather_forecast'
    },
    provide_context=True,
    dag=weather_forecast
)

# task 실행 순서
extract >> transform >> load

![](/bin/DE7_image/DE8_8_2.png)

airflow에서 정상적으로 실행되었음.

더 정확한 확인을 위해 weather_forecast table에 SELECT문으로 검색하자.

In [8]:
%%sql

SELECT date date
  , temp
  , min_temp
  , max_temp
  , create_date
FROM mildsalmon_su.weather_forecast
;

 * postgresql://mildsalmon_su:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
8 rows affected.

[(datetime.date(2022, 3, 7), 5.26, 0.18, 7.36, datetime.datetime(2022, 3, 7, 7, 51, 38)),
 (datetime.date(2022, 3, 8), 7.16, 1.44, 9.69, datetime.datetime(2022, 3, 7, 7, 51, 38)),
 (datetime.date(2022, 3, 9), 9.9, 3.1, 12.94, datetime.datetime(2022, 3, 7, 7, 51, 38)),
 (datetime.date(2022, 3, 10), 11.34, 6.39, 13.46, datetime.datetime(2022, 3, 7, 7, 51, 38)),
 (datetime.date(2022, 3, 11), 12.82, 6.13, 15.29, datetime.datetime(2022, 3, 7, 7, 51, 38)),
 (datetime.date(2022, 3, 12), 11.44, 8.49, 14.43, datetime.datetime(2022, 3, 7, 7, 51, 38)),
 (datetime.date(2022, 3, 13), 12.42, 10.74, 13.21, datetime.datetime(2022, 3, 7, 7, 51, 38)),
 (datetime.date(2022, 3, 14), 11.65, 8.05, 12.1, datetime.datetime(2022, 3, 7, 7, 51, 38))]

정상적으로 7일치 데이터가 멱등하게 들어가는 것을 확인할 수 있다.

create_date가 9시간 정도 차이가 나는데, 아마 EC2 시간이 UTC라서 그런 것 같다.