# 1. 실습
## A. mongodb 연결 및 데이터 확인

In [28]:
from pymongo import MongoClient

mongodb_host = 'localhost'
mongodb_port = '27017'

mongo_client = MongoClient(mongodb_host, int(mongodb_port))
database = mongo_client.get_database('mydb')
collection = database['twitter']

result = collection.find()

# for i in range(100):
#     print(result[i])
    
# print(*collection.find({'lang':'ko'}), sep='\n')

for tweet in collection.find({'lang':'ko'}):
    if 'delete' in tweet:
        print(tweet)

## B. pandas로 보기 편하게 변환

In [22]:
import pandas as pd
from pymongo import MongoClient

mongodb_host = 'localhost'
mongodb_port = '27017'

mongo_client = MongoClient(mongodb_host, int(mongodb_port))
database = mongo_client.get_database('mydb')
collection = database['twitter']

def tweets(*args, **kwargs):
    for tweet in collection.find(*args, **kwargs):
        if 'delete' not in tweet:
            # yield를 이용해 함수 외부로 값을 양보함
            yield{
                'created_at':tweet['created_at'], 'text':tweet['text']
            }
            
tweet = pd.DataFrame(tweets({'lang':'ko'}, limit=10))
tweet

,created_at,text
0,Tue Jan 25 20:14:39 +0000 2022,RT @KINGDOM_GFent: [MUJIN👑]\n\n10시에 브이앱에서 만나여💖...
1,Tue Jan 25 20:14:40 +0000 2022,ㅋㅋㅌㅋㅋ아...그건 그렇네\n6~7시간? 더 자\n9시간까지 푹자\n12시간이어도...
2,Tue Jan 25 20:14:42 +0000 2022,RT @mommyson_eth: 뽑기의 천재 rarity rank #42 https...
3,Tue Jan 25 20:14:46 +0000 2022,RT @unlimitedvoid8: 오.. 리 https://t.co/KofJxhe...
4,Tue Jan 25 20:14:48 +0000 2022,@maneul_manul 아당근뼈를 묻겠습니다
5,Tue Jan 25 20:14:51 +0000 2022,아니 뭐 인벤 뒤적거리다 보니까ㅋㅋㅋㅋㅋㅋㅋㅋ 어 재밋겟다(&lt;항상이렇게시작햇음...
6,Tue Jan 25 20:14:52 +0000 2022,너무하시다... 저 잠 못 자요..........
7,Tue Jan 25 20:14:54 +0000 2022,RT @pompomls777: 이준호 웃겼던거\n송중기 셀카 찍는거 가만 보더니\n...
8,Tue Jan 25 20:14:56 +0000 2022,@lovely_airi0319 ? 너가 무궁화였 던 적ㅇ 이있니?????!!!!!!!
9,Tue Jan 25 20:14:59 +0000 2022,@nompang22 아니 다들 영업하시넹ㅋㅋㅋㅋㅋㅋㅋ 제 지인이 이것만큼 패는맛 타...

# 2. etc..
## A. *args, **kwargs 실험

In [21]:
def test(*args, **kwargs):
    # args에 tuple 형식으로 들어간다.
    print(args)
    # kwargs는 dict형식으로 들어간다.
    print(kwargs)
    
test({1:1}, s=10)

({1: 1},)
{'s': 10}